@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Playfair', 'Casacadia Code', 'Raleway', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.icon {
    width: 5vh;
    height: auto;
  }

.error {
    font-family: 'Cascadia Code';
  }

.thin-underline {
    text-decoration: underline;
    text-decoration-thickness: 1px; /* Ajusta el grosor del subrayado */
  }
